.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
}

.title {
    font-family: 'Playfare Display', 'Poppins', 'serif';
}

.titleSecondary {
    color: var(--mui-primary);
    font-weight: 600;
}

.buttonsContainer {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
}

.button {
    border-radius: 0;
    font-size: 1.5rem;
}