.container {
    padding: 5rem;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.pageTitle {
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 2rem;
}

.accordionContainer {
    min-width: 100%;
    margin-bottom: 1rem;
}

.accordionIcon {
    color: white;
}

.accordionContent {
    color: white;
    background-color: var(--mui-primary);
}

.card {
    margin-bottom: 1rem;
}

.cardActions {
    width: 100%;
    margin-bottom: 1.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 3fr;
    grid-gap: 1rem;
}

.nome {
    text-decoration: underline;
}

.descricao {
    font-style: oblique;
}

.grauRelevanciaBaixo {
    background-color: lightblue;
}

.grauRelevanciaMedio {
    background-color: yellowgreen;
}

.grauRelevanciaAlto {
    background-color: lightcoral;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 1rem;
    }

    .accordionContainer {
        min-width: 20rem;
    }

    .cardActions {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}