.grauRelevanciaChip {
    min-width: 70%;
    border: 0;
    border-top: 1px solid var(--mui-primary);
    border-radius: 0;
}

.grauRelevanciaNomeAlto {
    color: red;
    font-weight: bold;
}

.grauRelevanciaNomeMedio {
    color: yellowgreen;
    font-weight: bold;
}

.grauRelevanciaNomeBaixo {
    color: dodgerblue;
    font-weight: bold;
}