.cardContent {
    width: 100%;
    margin-bottom: 1.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 0.05fr 1fr 0.05fr 1fr;
    grid-gap: 1rem;
}

.xMark {
    font-family: 'Playfare Display', 'Poppins', 'serif';
}