.container {
    padding: 5rem;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.pageTitle {
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 2rem;
}

.accordionContainer {
    min-width: 20rem;
    margin-bottom: 1rem;
}

.accordionIcon {
    color: white;
}

.accordionAreaGestao {
    color: white;
    background-color: #1976d2;
}

.cardConsequencia {
    margin-bottom: 1rem;
}

.cardConsequenciaActions {
    width: 100%;
    margin-bottom: 1.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 0.05fr 1fr 0.05fr 1fr;
    grid-gap: 1rem;
}

.consequenciaNome {
    text-decoration: underline;
}

.consequenciaDescricao {
    font-style: oblique;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 1rem;
    }

    .cardConsequenciaActions {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}