
.produzTitleContainer {
    text-align: center;
}

.produzTitle {
    font-size: 14px;
    font-weight: bold;
}

.produzTermos {
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 12px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}