.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5rem;
}

.stepper {
    min-width: 75%;
}

.stepperLabel {
    font-size: 2rem;
    font-family: 'Playfare Display', 'Poppins', 'serif';
}

.buttonNext {
    margin-left: 2.5rem;
}

.buttonBack {
    margin-right: 2rem;
}