.dialogTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Playfare Display', 'Poppins', 'serif';
}

.dialogBody {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


